/* Variables for Spaces Setup */
:root {
    --fluid-min-width: 375;
    --fluid-max-width: 1920; // usually the same as --design-screen
    --fluid-screen: 100vw;
    --design-screen: 1920; // usually the same as --fluid-max-width
    --design-container-margin-max: 144; // margin from the container to the viewport at --design-screen size
    --design-container-margin-min: 24; // margin from the container to the viewport on mobile
    --design-columns: 12; // amount of columns inside the container
    --design-gutter: 72; // gutter with at --design-screen size
    --space-unit-min: 32; // min amount of the space unit @ --fluid-min-width size
    
    --space-unit-max: var(--design-gutter); // same as --design-gutter - amount of the space unit @ --fluid-max-width size
    --container-max-width: calc(100vw - (var(--container-margin) * 2));
    --container-fluid-width: var(--fluid-screen);
    --container-indent-width: calc(100vw - var(--space-m-l));
    --container-margin: calc(((var(--design-container-margin-min) / 16) * 1rem) + (var(--design-container-margin-max) - var(--design-container-margin-min)) * var(--fluid-bp));

    .inset-padding {
        padding: 0 var(--container-margin);
    }
}

/* If setting max-width fix to ...px - Spaces won't scale up after viewport reaches ...px */
// @media screen and (min-width: 1920px) {
//   :root {
//     --fluid-screen: calc(var(--fluid-max-width) * 1px);
//     --container-max-width: calc(var(--fluid-max-width) * 1px - (var(--container-margin) * 2));
//   }
// }

/* Calculated Variables for Spaces Setup */
:root {
    --fluid-bp: calc((var(--fluid-screen) - var(--fluid-min-width) / 16 * 1rem) / (var(--fluid-max-width) - var(--fluid-min-width)));
}
