/* Calculated Variables for Space sizing */
/* @link https://utopia.fyi/space/calculator?c=375,36,1.2,1920,71,1.25,5,2,1920&s=0.5,1.5|2|3|4|6,s-l|s-2xl|l-3xl|m-3xl|m-2xl */
// NEW LINK
// https://utopia.fyi/space/calculator?c=375,1,1.5,1920,4,1.25,5,2,1920&s=0,1.5|2|2.5|3|3.5|4|5|6|7|8|9|10|11|12|14|16|20|24|28|32|36|40|44|48|52|56|60|64|72|80|96,s-l|s-2xl|l-3xl|m-3xl|m-2xl

:root {
    --fluid-min-width-lg: 1024;

    --fluid-bp-lg: calc((var(--fluid-screen) - var(--fluid-min-width-lg) / 16 * 1rem) / (var(--fluid-max-width) - var(--fluid-min-width-lg)));


    --multi-min: 1;
    --multi-max: 4;

    --space-0-min: (var(--space-1-min) * 0);
    --space-0-max: (var(--space-1-max) * 0);

    --space-1-min: (var(--multi-min, 1));
    --space-1-max: (var(--multi-max, 4));

    --space-1-5-min: (var(--space-1-min) * 3);
    --space-1-5-max: (var(--space-1-max) * 1.5);

    --space-2-min: (var(--space-1-min) * 4);
    --space-2-max: (var(--space-1-max) * 2);

    --space-2-5-min: (var(--space-1-min) * 5);
    --space-2-5-max: (var(--space-1-max) * 2.5);

    --space-3-min: (var(--space-1-min) * 6);
    --space-3-max: (var(--space-1-max) * 3);

    --space-3-5-min: (var(--space-1-min) * 7);
    --space-3-5-max: (var(--space-1-max) * 3.5);

    --space-4-min: (var(--space-1-min) * 8);
    --space-4-max: (var(--space-1-max) * 4);

    --space-5-min: (var(--space-1-min) * 10);
    --space-5-max: (var(--space-1-max) * 5);

    --space-6-min: (var(--space-1-min) * 12);
    --space-6-max: (var(--space-1-max) * 6);

    --space-7-min: (var(--space-1-min) * 14);
    --space-7-max: (var(--space-1-max) * 7);

    --space-8-min: (var(--space-1-min) * 16);
    --space-8-max: (var(--space-1-max) * 8);

    --space-9-min: (var(--space-1-min) * 18);
    --space-9-max: (var(--space-1-max) * 9);

    --space-10-min: (var(--space-1-min) * 20);
    --space-10-max: (var(--space-1-max) * 10);

    --space-11-min: (var(--space-1-min) * 22);
    --space-11-max: (var(--space-1-max) * 11);

    --space-12-min: (var(--space-1-min) * 24);
    --space-12-max: (var(--space-1-max) * 12);

    --space-14-min: (var(--space-1-min) * 28);
    --space-14-max: (var(--space-1-max) * 14);

    --space-16-min: (var(--space-1-min) * 32);
    --space-16-max: (var(--space-1-max) * 16);

    --space-20-min: (var(--space-1-min) * 40);
    --space-20-max: (var(--space-1-max) * 20);

    --space-24-min: (var(--space-1-min) * 48);
    --space-24-max: (var(--space-1-max) * 24);

    --space-28-min: (var(--space-1-min) * 56);
    --space-28-max: (var(--space-1-max) * 28);

    --space-32-min: (var(--space-1-min) * 64);
    --space-32-max: (var(--space-1-max) * 32);

    --space-36-min: (var(--space-1-min) * 72);
    --space-36-max: (var(--space-1-max) * 36);

    --space-40-min: (var(--space-1-min) * 80);
    --space-40-max: (var(--space-1-max) * 40);

    --space-44-min: (var(--space-1-min) * 88);
    --space-44-max: (var(--space-1-max) * 44);

    --space-48-min: (var(--space-1-min) * 96);
    --space-48-max: (var(--space-1-max) * 48);

    --space-52-min: (var(--space-1-min) * 104);
    --space-52-max: (var(--space-1-max) * 52);

    --space-56-min: (var(--space-1-min) * 112);
    --space-56-max: (var(--space-1-max) * 56);

    --space-60-min: (var(--space-1-min) * 120);
    --space-60-max: (var(--space-1-max) * 60);

    --space-64-min: (var(--space-1-min) * 128);
    --space-64-max: (var(--space-1-max) * 64);

    --space-72-min: (var(--space-1-min) * 144);
    --space-72-max: (var(--space-1-max) * 72);

    --space-80-min: (var(--space-1-min) * 160);
    --space-80-max: (var(--space-1-max) * 80);

    --space-96-min: (var(--space-1-min) * 192);
    --space-96-max: (var(--space-1-max) * 96);

    /* T-shirt sizes */
    --space-0: calc(((var(--space-0-min) / 16) * 1rem) + (var(--space-0-max) - var(--space-0-min)) * var(--fluid-bp));
    --space-1: calc(((var(--space-1-min) / 16) * 1rem) + (var(--space-1-max) - var(--space-1-min)) * var(--fluid-bp));
    --space-1-5: calc(((var(--space-1-5-min) / 16) * 1rem) + (var(--space-1-5-max) - var(--space-1-5-min)) * var(--fluid-bp));
    --space-2: calc(((var(--space-2-min) / 16) * 1rem) + (var(--space-2-max) - var(--space-2-min)) * var(--fluid-bp));
    --space-2-5: calc(((var(--space-2-5-min) / 16) * 1rem) + (var(--space-2-5-max) - var(--space-2-5-min)) * var(--fluid-bp));
    --space-3: calc(((var(--space-3-min) / 16) * 1rem) + (var(--space-3-max) - var(--space-3-min)) * var(--fluid-bp));
    --space-3-5: calc(((var(--space-3-5-min) / 16) * 1rem) + (var(--space-3-5-max) - var(--space-3-5-min)) * var(--fluid-bp));
    --space-4: calc(((var(--space-4-min) / 16) * 1rem) + (var(--space-4-max) - var(--space-4-min)) * var(--fluid-bp));
    --space-5: calc(((var(--space-5-min) / 16) * 1rem) + (var(--space-5-max) - var(--space-5-min)) * var(--fluid-bp));
    --space-6: calc(((var(--space-6-min) / 16) * 1rem) + (var(--space-6-max) - var(--space-6-min)) * var(--fluid-bp));
    --space-7: calc(((var(--space-7-min) / 16) * 1rem) + (var(--space-7-max) - var(--space-7-min)) * var(--fluid-bp));
    --space-8: calc(((var(--space-8-min) / 16) * 1rem) + (var(--space-8-max) - var(--space-8-min)) * var(--fluid-bp));
    --space-9: calc(((var(--space-9-min) / 16) * 1rem) + (var(--space-9-max) - var(--space-9-min)) * var(--fluid-bp));
    --space-10: calc(((var(--space-10-min) / 16) * 1rem) + (var(--space-10-max) - var(--space-10-min)) * var(--fluid-bp));
    --space-11: calc(((var(--space-11-min) / 16) * 1rem) + (var(--space-11-max) - var(--space-11-min)) * var(--fluid-bp));
    --space-12: calc(((var(--space-12-min) / 16) * 1rem) + (var(--space-12-max) - var(--space-12-min)) * var(--fluid-bp));
    --space-14: calc(((var(--space-14-min) / 16) * 1rem) + (var(--space-14-max) - var(--space-14-min)) * var(--fluid-bp));
    --space-16: calc(((var(--space-16-min) / 16) * 1rem) + (var(--space-16-max) - var(--space-16-min)) * var(--fluid-bp));
    --space-20: calc(((var(--space-20-min) / 16) * 1rem) + (var(--space-20-max) - var(--space-20-min)) * var(--fluid-bp));
    --space-24: calc(((var(--space-24-min) / 16) * 1rem) + (var(--space-24-max) - var(--space-24-min)) * var(--fluid-bp));
    --space-28: calc(((var(--space-28-min) / 16) * 1rem) + (var(--space-28-max) - var(--space-28-min)) * var(--fluid-bp));
    --space-32: calc(((var(--space-32-min) / 16) * 1rem) + (var(--space-32-max) - var(--space-32-min)) * var(--fluid-bp));
    --space-36: calc(((var(--space-36-min) / 16) * 1rem) + (var(--space-36-max) - var(--space-36-min)) * var(--fluid-bp));
    --space-40: calc(((var(--space-40-min) / 16) * 1rem) + (var(--space-40-max) - var(--space-40-min)) * var(--fluid-bp));
    --space-44: calc(((var(--space-44-min) / 16) * 1rem) + (var(--space-44-max) - var(--space-44-min)) * var(--fluid-bp));
    --space-48: calc(((var(--space-48-min) / 16) * 1rem) + (var(--space-48-max) - var(--space-48-min)) * var(--fluid-bp));
    --space-52: calc(((var(--space-52-min) / 16) * 1rem) + (var(--space-52-max) - var(--space-52-min)) * var(--fluid-bp));
    --space-56: calc(((var(--space-56-min) / 16) * 1rem) + (var(--space-56-max) - var(--space-56-min)) * var(--fluid-bp));
    --space-60: calc(((var(--space-60-min) / 16) * 1rem) + (var(--space-60-max) - var(--space-60-min)) * var(--fluid-bp));
    --space-64: calc(((var(--space-64-min) / 16) * 1rem) + (var(--space-64-max) - var(--space-64-min)) * var(--fluid-bp));
    --space-72: calc(((var(--space-72-min) / 16) * 1rem) + (var(--space-72-max) - var(--space-72-min)) * var(--fluid-bp));
    --space-80: calc(((var(--space-80-min) / 16) * 1rem) + (var(--space-80-max) - var(--space-80-min)) * var(--fluid-bp));
    --space-96: calc(((var(--space-96-min) / 16) * 1rem) + (var(--space-96-max) - var(--space-96-min)) * var(--fluid-bp));


    //custom spacings
    --space-96-to-48: calc(((var(--space-96-min) / 16) * 1rem) + (var(--space-48-max) - var(--space-96-min)) * var(--fluid-bp));
    --space-48-to-32: calc(((var(--space-48-min) / 16) * 1rem) + (var(--space-32-max) - var(--space-48-min)) * var(--fluid-bp));

    --space-0-to-48: var(--space-0);
    --space-0-to-36: var(--space-0);

    @screen lg {
        --space-0-to-48: calc(((var(--space-0-min) / 16) * 1rem) + (var(--space-48-max) - var(--space-0-min)) * var(--fluid-bp-lg));
        --space-0-to-36: calc(((var(--space-0-min) / 16) * 1rem) + (var(--space-36-max) - var(--space-0-min)) * var(--fluid-bp-lg));
    }
    @screen xxl {
        --space-0-to-48: calc(((var(--space-0-min) / 16) * 1rem) + (var(--space-48-max) - var(--space-0-min)) * var(--fluid-bp));
        --space-0-to-36: calc(((var(--space-0-min) / 16) * 1rem) + (var(--space-36-max) - var(--space-0-min)) * var(--fluid-bp));
    }


}
