:root {
    /** Size for the button. */
    --burger-button-size: 35px;
    /** Width for the bars, relative to the button. */
    --burger-bar-width: 1.25;
    /** Height for the bars.*/
    --burger-bar-height: 2px;
    /** Distance between bars (approximately). */
    --burger-bar-spacing: 8px;
    /** Timeout before starting the animation, ensures the animation starts after the menu is fully opened. */
    --burger-animate-timeout: 0.1s;
}

.burger {
    width: calc(var(--burger-button-size) * var(--burger-bar-width));
    position: relative;
    border: none;
    border-radius: 0;
    display: inline-block;
    position: relative;
    box-sizing: border-box;
    height: var(--burger-button-size);
    padding: 0 0 0 var(--burger-button-size);
    margin: 0;
    line-height: var(--burger-button-size);
    vertical-align: middle;
    appearance: none;
    outline: 0!important;
    cursor: pointer;


    b {
        display: block;
        position: absolute;
        left: 0;
        @apply text-primary bg-primary;
        transition: all 0.5s var(--burger-animate-timeout);
        height: var(--burger-bar-height);
        width: calc(var(--burger-button-size) * var(--burger-bar-width));
        height: var(--burger-bar-height);
        border-radius: calc(var(--burger-bar-height)/ 2);
        opacity: 1;

        &:nth-of-type(1) {
            transition-delay: 0.1s, 0s;
            bottom: calc(50% + var(--burger-bar-spacing) - (var(--burger-bar-height) / 2));
        }

        &:nth-of-type(2) {
            transition-delay: 0.1s;
            top: calc(50% - (var(--burger-bar-height)/ 2) + (var(--burger-bar-height) / 2));
        }

        &:nth-of-type(3) {
            transition-delay: 0.1s, 0s;
            top: calc(50% + var(--burger-bar-spacing) + (var(--burger-bar-height) / 2));
        }
    }
    &.burger--closed {
        b {
            &:nth-of-type(1) {
                bottom: calc(50% - (var(--burger-bar-height)/ 2));
                transform: rotate(45deg);
                transition-delay: calc(var(--burger-animate-timeout) + 0s), calc(var(--burger-animate-timeout) + 0.1s);
            }

            &:nth-of-type(2) {
                opacity: 0;
                top: calc(50% - (var(--burger-bar-height)/ 2) + (var(--burger-bar-height) / 2));
                transition-delay: calc(var(--burger-animate-timeout) + 0s);
            }

            &:nth-of-type(3) {
                top: calc(50% - (var(--burger-bar-height)/ 2));
                transform: rotate(-45deg);
                transition-delay: calc(var(--burger-animate-timeout) + 0s), calc(var(--burger-animate-timeout) + 0.1s);
            }
        }
    }
}
