.site-main { //page wrapper
    @apply pt-48-to-32;
    min-height: 75vh;
}

.site-header { //header
    @apply py-3 h-48-to-32 bg-white;
    position: fixed;
    width: 100%;
    z-index: 5;
    transition: transform 0.35s ease-in-out;

    .header {
        z-index: 5;

        .header-left {
            .brand {
                @apply w-96-to-48;
                svg {
                    @apply w-full h-auto;
                }
            }
        }

        .header-center {}

        .header-right {}
    }

    &.nav-up {
        transform: translateY(-100%);
    }

    &.nav-down {
        transform: translateY(0);
    }
}


.header--grid {
    @apply grid grid-cols-2 gap-16;

    @screen lg {
        grid-template-columns: 1fr 2fr 1fr;
    }
}


.header ul.menu { //navmenu desktop custom styles li
    li {
        a {
            @apply text-dark;
        }
        &.current-menu-item {
            a {
                @apply text-primary;
            }
        }
        &.current-menu-parent {
            > a {
                @apply text-primary;
            }
        }
        a {
            &:hover {
                @apply text-primary;
            }
        }
    }

     > .menu-item + .menu-item {
        @apply ml-10;
    }
}


.header ul.menu {
    list-style: none;
    @apply relative flex p-0 m-0;

    .menu-item-has-children { //dropdown menu stuff
        // @apply relative;

        > a {
            position: relative;
            padding-right: 1.2rem;

                &::after {
                    content: '';
                    mask: url('data:image/svg+xml; utf8, <svg width="10" height="5" viewBox="0 0 10 5" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0.416992 0.75L5.00033 4.08333L9.58366 0.75" stroke="black" stroke-linecap="round" stroke-linejoin="round"/></svg>') no-repeat 50% 50%;
                    mask-size: contain;
                    @apply absolute right-0 bg-dark top-1/2;
                    transform: translateY(-50%);
                    width: 10px;
                    height: 5px;
                }

                &:hover {
                    &::after {
                        @apply bg-primary;
                    }
                }
        }

        &.current-menu-parent a {
            &::after {
                @apply bg-primary;
            }
        }

        .sub-menu {
            display: none;
            min-height: 0;
            position: absolute;
            @apply bg-white p-3 w-auto bg-light;
            bottom: -1rem;
            transform: translateY(100%);

            li {
                @apply mb-3;

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
}



.mobile--inner--wrapper ul.menu { //navmenu mobile custom styles li
    li {
        @apply border-b border-dark;

        &:first-child {
            @apply border-t;
        }

        a {
            @apply block py-6 font-semibold;
        }
    }
}
.header-mobile-content { //mobile menu styling
    @apply text-dark bg-light pt-48-to-32 pb-10 w-full block fixed top-0 right-0;
    height: 100vh;
    max-width: 100vw;
    z-index: -1;
    overflow-y: scroll;
    overflow-x: hidden;
    transform: translateX(100%);
    visibility: hidden;
    transition: all 0.35s linear;

    @screen md {
        max-width: 40vw;
    }
    @screen lg {
        max-width: 35vw;
    }

    &.header--open {
        transform: translateX(0);
        visibility: visible;
    }
    .mobile--inner--wrapper {
        overflow-x: hidden;
        @apply p-10 h-full;
    }


    .acc-submenu {
        & > .sub-menu {
            @apply pl-6 pt-6 pb-6 hidden;
            overflow: hidden;
            z-index: 8;
            height: auto;
            width: 100%;

            li {
                @apply py-2 flex;
                border: none;
                a {
                    @apply py-2;
                    font-weight: 400;
                }
            }
        }

        > a {
            @apply w-full block;
            position: relative;
            &::after {
                content: '';
                mask: url('data:image/svg+xml; utf8, <svg width="12" height="7" viewBox="0 0 12 7" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M11.6247 2.50298C11.7273 2.42091 11.8127 2.31945 11.876 2.20438C11.9394 2.08932 11.9794 1.96291 11.9939 1.83236C12.0232 1.56871 11.9465 1.30425 11.7807 1.09713C11.6149 0.890023 11.3737 0.757236 11.11 0.727983C10.8463 0.698731 10.5818 0.77541 10.3747 0.941152L5.99971 4.44076L1.62471 0.941151C1.41758 0.77541 1.15308 0.698731 0.889407 0.727983C0.625731 0.757235 0.384477 0.890023 0.218717 1.09713C0.0529566 1.30424 -0.0237313 1.56871 0.00552459 1.83236C0.0347804 2.09601 0.167582 2.33723 0.374717 2.50298L5.37471 6.50253C5.55207 6.64452 5.7725 6.72188 5.99971 6.72188C6.22692 6.72188 6.44735 6.64452 6.62471 6.50253L11.6247 2.50298Z" fill="rgb(0,0,0)"/></svg>')  no-repeat 50% 50%;
                mask-size: contain;
                background-color: var(--primary);
                width: 16px;
                height: 8px;
                position: absolute;
                @apply right-0;
                top: 50%;
                transform: translateY(-50%);
                transition: all 0.5s;
            }

            &.rotate {
                &::after {
                    transform: translateY(-50%) rotate(180deg);
                    transition: all 0.5s;
                }
            }
        }
    }
}
